# Systemd unit file for tomcat
[Unit]
Description=Alfresco Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/opt/tomcat/tomcat.pid

ExecStart=/opt/tomcat/bin/run.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
